{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <button type="submit" class="btn btn-primary my-3 mx-5">{{btn_title}}</button>
    </form>

    {% if product %}
        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger  mb-3 mx-5" role="button" data-bs-toggle="button">刪除商品</a>
    {% endif %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>