{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <title>結帳 | 探吉POS</title>
</head>
<body>
    <h1>結帳</h1>
    {% for item in cart %}
        <p>
            <b>產品:</b>{{item.product.title}} <br>
            <b>單價:</b>{{item.product.price}} <br>
            <b>數量:</b>{{item.quantity}} 
            </a>
            <br>
        </p>
    {% endfor %}
    
    <strong>總共: NT$ </strong>{{cart.get_total_cost}}
    <hr>
    
    <form action="." method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success">確認結帳</button>
    </form>    
    


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>